<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" [(opened)]="opened">
    <div class="d-flex nav flex-column mt-4">
      <button><a routerLink="/packages">Packeges</a></button>
      <button><a routerLink="/dealers">dealers</a></button>
      <button><a routerLink="/sub-dealers">Sub dealers</a></button>
      <button><a routerLink="/report">Sales Report</a></button>
      <button><a routerLink="/b-sheet">B.sheet</a></button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="mt-4">
      <button (click)="sidenav.toggle()">menu</button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>