<div>
  <div class="row">
    <div class="col-md-12">
      <button mat-mini-fab style="float:right;" color="primary" (click)="addDealerButtonbuttonClicked()">+</button>
    </div>
  </div>
  <div class="vertical-spacing"></div>
  <mat-card *ngIf="addMode || editMode">
    <mat-card-title *ngIf="addMode">Add Dealer</mat-card-title>
    <mat-card-title *ngIf="editMode">Edit Dealer</mat-card-title>

    <mat-form-field class="full-width">
      <input matInput placeholder="Name" [(ngModel)]="mainDealer.name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="PhoneNumbers" [(ngModel)]="mainDealer.phoneNumber">
    </mat-form-field>


    <mat-checkbox (change)="addSubdealersOfManDealer(mainDealer.addSubdealersOfMainDealerCheckBox)"
    [(ngModel)]="mainDealer.addSubdealersOfMainDealerCheckBox">Do You Want To Add Sub-Dealers Of Main Dealer ?</mat-checkbox>

    <div *ngIf="mainDealer.addSubdealersOfMainDealerCheckBox">
      <div class="row">
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="mainDealerSubDealer.name" placeholder="Name" name="name">
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="mainDealerSubDealer.phoneNumber" placeholder="phoneNumber" name="phoneNumber">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <button mat-mini-fab color="primary" (click)="addSubDealerButton()">+</button>
        </div>
      </div>
      <div class="row" *ngIf="mainDealerSubDealersList.length>0">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Company Name</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col">Remove</th>
                <th scope="col">Add Packages</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mainDealerSubDealersList; let i=index;">
                <th scope="row">{{item.name}}</th>
                <td>{{item.phoneNumber}}</td>
                <td><button class="btn btn-danger" (click)="removeSubDealer(i)">Remove</button></td>
                <td><button class="btn btn-success" color="primary" (click)="openPackagesModal(i)">+ Pacakges</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button  *ngIf="addMode" [disabled]="!mainDealer.name  || !mainDealer.phoneNumber" mat-raised-button
                color="primary" style="float:right;" (click)="addDealer()">Submit</button>
            <button  *ngIf="editMode" [disabled]="!mainDealer.name  || !mainDealer.phoneNumber" mat-raised-button
                color="primary" style="float:right;" (click)="editDealer()">Edit</button>
        </div>
    </div>
  </mat-card>
</div>