.vertical-spacing{
    margin-top:5px;
}

#main {
    width: 100%;
}
.main-heading {
    margin: 0;
    display: inline-block;
}
.close-btn {
    float: right;
    margin-bottom:10px;
}
.close-btn-div{
    text-align:right;
    float:right;
}

.submit-btn{
    float:right;
}
