<mat-card>
    <div *ngFor="let item of mainDealersList" >
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><h4>{{item.name}}  </h4></mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput placeholder="First name">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Age">
                </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
        <div class="vertical-spacing"></div>
    </div>

</mat-card>